body{
    font-family: sans-serif;
    margin: 0;
}

header{
    background-color: rgba(9, 57, 140, 1);
    padding: 10px;
}

.imagenesheader{
    display: flex;
    height: 30px;
    justify-content: center;
    justify-content: space-evenly;
}

.subheader{
    display: flex;
    height: 35px;
    justify-content: space-between;
}

.barradebusqueda{
    display: flex;
    justify-content: center;
    height: 25px;
}

.menudenavegación{
    justify-content: center;
    justify-content: space-evenly;
}

